@model MVC.Models.MemberIndexModel

@using Data.DTOs;

@{
    ViewBag.Title = "Index";
}

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet">
        <h1>Vazne vesti</h1>
    </div>
    <div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet right">
        <img src="http://placehold.it/250x150">
    </div>
</div>
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet">
        <h3>
            Danas je rođendan
        </h3>
        @if (Model.Birthtdays.Any())
        {
            foreach (MemberDTO p in Model.Birthtdays)
            {
            <h5>
                <a>
                    @Html.ActionLink(p.Name + " " + p.Surname, "Profile", "Member", new { id = p.MemberId }, null);
                </a>
            </h5>
            }
        }
        <h3>
            Godišnjice članstava
        </h3>
        
        @if (Model.Anniversary.Any())
        {
            foreach (MemberDTO p in Model.Anniversary)
            {
                    <h5>
                        <a>
                            @Html.ActionLink(p.Name + " " + p.Surname, "Profile", "Member", new { id = p.MemberId }, null);
                        </a>
                    </h5>
            }
        }

        <h3>
            Aktivni projekti
        </h3>
        
        @if (Model.CurrentProject.Any())
        {
            foreach (ProjectDTO p in Model.CurrentProject)
            {
                    <h5>
                        <a>
                            @Html.ActionLink(p.Name, "Index", "Project");
                        </a>
                    </h5>
            }
        }

        <h3>
            Aktivna glasanja
        </h3>
        @if (Model.CurrentPoll.Any())
        {
            foreach (PollDTO p in Model.CurrentPoll)
            {
                <h5>
                    <a>
                        @Html.ActionLink(p.Topic, "Index", "Poll");
                    </a>
                </h5>
            }
        }
    </div>
    <div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet">
        <div id="calendar-message-box" class="mdl-js-snackbar mdl-snackbar">
            <div class="mdl-snackbar__text"></div>
            <button class="mdl-snackbar__action" type="button"></button>
        </div>

        <div class="header">
            <span class="left button" id="prev"> <b>prev</b></span>
            <span class="left hook"></span>
            <span class="month-year" id="label"> </span>
            <span class="right hook" id=""></span>
            <span class="right button" id="next"> <b>next</b> </span>
        </div>
        <div id="calendar-wrapper"></div>
    </div>
</div>

<script src="../../Scripts/calendarField.js"></script>
<script src="../../Scripts/Calendar.js"></script>
<script>
    var calendar = new Calendar("calendar-wrapper");
    calendar.Init();
</script>    
