@model dynamic

@{
    ViewBag.Title = "Messenger";
}
<div id="messenger-header">
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--1-col mdl-cell--1-col-tablet mdl-cell--1-col-phone"></div>
        <div class="mdl-cell mdl-cell--9-col mdl-cell--6-col-tablet mdl-cell--2-col-phone">
            <div class="" id="messenger-message-wrapper">
                <input placeholder="Text poruke" class="mdl-textfield__input" type="text" id="messenger-message">
            </div>
        </div>
        <div class="mdl-cell mdl-cell--1-col mdl-cell--1-col-tablet mdl-cell--1-col-phone">
            <button id="show-dialog-messenger" type="button" class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
                <i class="material-icons">add</i>
            </button>
            <dialog id="dialog-messenger" class="mdl-dialog">
                <div class="mdl-dialog__content">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input" type="text" id="messenger-user">
                            <label class="mdl-textfield__label" for="messenger-user">Izaberi novog clana...</label>
                        </div>
                </div>
                <div class="mdl-dialog__actions">
                    <button type="button" class="mdl-button">Potvrdi</button>
                    <button type="button" class="mdl-button close">Zatvori</button>
                </div>
            </dialog>
        </div>
    </div>
</div>
<div id="messenger-wrapper">
    <div class="arrow"></div>
    <ul id="messenger-list" class="ChatLog">
        <li class="ChatLog__entry ChatLog__entry_mine">
            <img class="ChatLog__avatar" src="//placekitten.com/56/56"/>
            <p class="ChatLog__message">
                <span class="time-info"><small class="time-signature text-warining">3 minutes ago</small></span>
                I have no idea.
            </p>
        </li>
        
        <li class="ChatLog__entry ChatLog__entry_mine">
            <img class="ChatLog__avatar" src="//placekitten.com/56/56"/>
            <p class="ChatLog__message">
                <span class="time-info"><small class="time-signature text-warining">3 minutes ago</small></span>
                I have no idea.
            </p>
        </li>

        <li class="ChatLog__entry" data-label="3 minutes ago">
            <img class="ChatLog__avatar" src="//placekitten.com/g/50/50" />
            <p class="ChatLog__message">
                <span class="time-info"><small class="time-signature text-warining">3 minutes ago</small></span>
                I have no idea.
            </p>
        </li>
        <li class="ChatLog__entry ChatLog__entry_mine" data-label="3 minutes ago">
            <img class="ChatLog__avatar" src="//placekitten.com/56/56" />
            <p class="ChatLog__message">
                <span class="time-info"><small class="time-signature text-warining">3 minutes ago</small></span>
                I have no idea.
            </p>
        </li>
        <li class="ChatLog__entry" data-label="3 minutes ago">
            <img class="ChatLog__avatar" src="//placekitten.com/g/50/50" />
            <p class="ChatLog__message">
                <span class="time-info"><small class="time-signature text-warining">3 minutes ago</small></span>
                I have no idea.
            </p>
        </li>
    </ul>
</div>
<script src="https://use.fontawesome.com/c256757c6a.js"></script>
<script>
    var ENTER_CODE = 13;

    $('#messenger-message').bind('keypress', function (event) {
        var x = event.keyCode;
        if (x === ENTER_CODE) {
            var message = this.value;
            $('#messenger-list').prepend(' <li class="ChatLog__entry ChatLog__entry_mine"> ' +
                '<img class="ChatLog__avatar" src="//placekitten.com/56/56"/> <p class="ChatLog__message">' +
                '<span class="time-info"><small class="time-signature text-warining">3 minutes ago</small>' +
                '</span> ' +
                message +
                '</p>' +
                '</li>');
            console.log(x);
            this.value = "";
        }
    });
    var dialogMessenger = document.querySelector('#dialog-messenger');
    var showDialogButtonMessenger = document.querySelector('#show-dialog-messenger');
    if (!dialogMessenger.showModal) {
        dialogPolyfill.registerDialog(dialog);
    }
    showDialogButtonMessenger.addEventListener('click', function () {
        dialogMessenger.showModal();
    });
    dialogMessenger.querySelector('.close').addEventListener('click', function () {
        dialogMessenger.close();
    });
    $('#messenger-wrapper').on('mouseenter', '.ChatLog__message', function() {
        this.children[0].style.display = 'block';
    });
    $('#messenger-wrapper').on('mouseleave', '.ChatLog__message', function() {
        this.children[0].style.display = 'none';
    });
</script>