@model dynamic

@{
}

<link rel="stylesheet" href="../../Content/cssDatePicker/pikaday.css">
<link rel="stylesheet" href="../../Content/cssDatePicker/theme.css">
<form action="#">
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--1-col mdl-cell--1-col-tablet mdl-cell--1-col-phone"></div>
        <h1>
            <b>Kreiraj Dogadjaj</b>
        </h1>
    </div>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--1-col mdl-cell--1-col-tablet mdl-cell--1-col-phone"></div>

        <div class="mdl-cell mdl-cell--5-col mdl-cell--5-col-tablet mdl-cell--5-col-phone">

            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="event-naziv">
                <label class="mdl-textfield__label" for="event-naziv">Naziv</label>
            </div>
            <br/>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="event-mesto">
                <label class="mdl-textfield__label" for="event-mesto">Mesto</label>
            </div>
            <br/>
            <div class="mdl-textfield mdl-js-textfield">
                <textarea class="mdl-textfield__input" type="text" rows="3" id="event-opis"></textarea>
                <label class="mdl-textfield__label" for="event-opis">Opis</label>
            </div>
            <br/>
            <input class="mdl-textfield__input" placeholder="Od" type="text" id="event-pocetak">
            <br/>
            <input class="mdl-textfield__input" placeholder="Od" type="text" id="event-kraj">
            <br/>
            <br/>

        </div>

        <div class="mdl-cell mdl-cell--5-col mdl-cell--5-col-tablet mdl-cell--5-col-phone">

            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="event-MO">
                <label class="mdl-textfield__label" for="event-MO">MO...</label>
            </div>

            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <select id="event-clanovi" class="mdl-textfield__input" multiple>
                    <option value=""></option>
                    <option value="1">Janko Jankovic</option>
                    <option value="1">Janko Jankovic</option>
                    <option value="1">Janko Jankovic</option>
                    <option value="1">Janko Jankovic</option>
                    <option value="1">Janko Jankovic</option>
                    <option value="1">Janko Jankovic</option>
                    <option value="1">Janko Jankovic</option>
                    <option value="1">Janko Jankovic</option>
                    <option value="1">Darko Dakic</option>
                    <option value="1">Mona MOna</option>
                </select>
                <label class="mdl-textfield__label is-dirty" for="event-clanovi">Clanovi</label>
            </div>
        </div>

        <div class="mdl-cell mdl-cell--1-col mdl-cell--1-col-tablet mdl-cell--1-col-phone"></div>
    </div>

</form>

<script src="../../Scripts/pikaday.js"></script>
<script>
    var pretragaOd = new Pikaday({ field: document.getElementById('event-pocetak') });
    var pretragaDo = new Pikaday({ field: document.getElementById('event-kraj') });
</script>