.admin-button-color {
  background: #1a53ff;
  cursor: pointer;
}
#show-dialog-feedback:hover {
  cursor: pointer;
}
aside span {
  color: white !important;
}
aside {
  background: #512DA8 !important;
}
aside a {
  color: #D1C4E9 !important;
}
aside a:hover {
  color: white !important;
  background: #D1C4E9 !important;
}
#logout {
  background: #C2185B;
}
#feedback {
  background: #BA68C8;
  cursor: pointer;
}
#welcome-photo {
  height: 250px;
  background: url('http://placehold.it/350x150') center / cover;
}
.demo-card-wide.mdl-card {
  width: 512px;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('http://placehold.it/200x150') center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}
.mdl-grid {
  margin-left: 0;
}
@media (min-width: 1025px) {
  .mdl-grid {
    margin-right: 239px;
  }
}
.mdl-grid .mdl-card__media {
  margin: 0;
}
.mdl-grid .mdl-card__media > img {
  max-width: 100%;
  min-width: 100%;
}
.mdl-grid .mdl-card__actions {
  display: flex;
  box-sizing: border-box;
  align-items: center;
}
.mdl-grid .mdl-card__actions > .mdl-button--icon {
  margin-right: 3px;
  margin-left: 3px;
}
/*Ubaceno za avatar-loader gif style*/
.loader {
  height: 32px;
  background-repeat: no-repeat;
  background-position: inherit;
}
/*Ubaceno da prepravi material design lite textbox plavu liniju*/
.mdl-label-fix {
  margin-bottom: 0px;
}
#member-year {
  width: 200px !important;
}
.div-expand {
  width: 100%;
}
.li-shrink {
  margin: 0;
  padding: 0;
}
#profile-img {
  width: 200px;
  height: 200px;
  min-height: 200px;
  min-width: 200px;
  max-height: 200px;
  max-width: 200px;
}
#member-profile-div {
  /** typography **/
  /** page structure **/
  /** profile nav links **/
  /** profile content sections **/
  /**ovaj deo sam ja ubacivao**/
  /**do ovde sam ja ubacivao**/
  /** clearfix **/
}
#member-profile-div html,
#member-profile-div body,
#member-profile-div div,
#member-profile-div span,
#member-profile-div applet,
#member-profile-div object,
#member-profile-div iframe,
#member-profile-div h1,
#member-profile-div h2,
#member-profile-div h3,
#member-profile-div h4,
#member-profile-div h5,
#member-profile-div h6,
#member-profile-div p,
#member-profile-div blockquote,
#member-profile-div pre,
#member-profile-div a,
#member-profile-div abbr,
#member-profile-div acronym,
#member-profile-div address,
#member-profile-div big,
#member-profile-div cite,
#member-profile-div code,
#member-profile-div del,
#member-profile-div dfn,
#member-profile-div em,
#member-profile-div img,
#member-profile-div ins,
#member-profile-div kbd,
#member-profile-div q,
#member-profile-div s,
#member-profile-div samp,
#member-profile-div small,
#member-profile-div strike,
#member-profile-div strong,
#member-profile-div sub,
#member-profile-div sup,
#member-profile-div tt,
#member-profile-div var,
#member-profile-div b,
#member-profile-div u,
#member-profile-div i,
#member-profile-div center,
#member-profile-div dl,
#member-profile-div dt,
#member-profile-div dd,
#member-profile-div ol,
#member-profile-div ul,
#member-profile-div li,
#member-profile-div fieldset,
#member-profile-div form,
#member-profile-div label,
#member-profile-div legend,
#member-profile-div table,
#member-profile-div caption,
#member-profile-div tbody,
#member-profile-div tfoot,
#member-profile-div thead,
#member-profile-div tr,
#member-profile-div th,
#member-profile-div td,
#member-profile-div article,
#member-profile-div aside,
#member-profile-div canvas,
#member-profile-div details,
#member-profile-div embed,
#member-profile-div figure,
#member-profile-div figcaption,
#member-profile-div footer,
#member-profile-div header,
#member-profile-div hgroup,
#member-profile-div menu,
#member-profile-div nav,
#member-profile-div output,
#member-profile-div ruby,
#member-profile-div section,
#member-profile-div summary,
#member-profile-div time,
#member-profile-div mark,
#member-profile-div audio,
#member-profile-div video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#member-profile-div body {
  background: #f0f0f0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #313131;
  font-size: 62.5%;
  line-height: 1;
}
#member-profile-div ::selection {
  background: #a4dcec;
}
#member-profile-div ::-moz-selection {
  background: #a4dcec;
}
#member-profile-div ::-webkit-selection {
  background: #a4dcec;
}
#member-profile-div ::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #ccc;
  font-style: italic;
}
#member-profile-div :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #ccc;
  font-style: italic;
}
#member-profile-div ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #ccc;
  font-style: italic;
}
#member-profile-div :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #ccc !important;
  font-style: italic;
}
#member-profile-div br {
  display: block;
  line-height: 2.2em;
}
#member-profile-div article,
#member-profile-div aside,
#member-profile-div details,
#member-profile-div figcaption,
#member-profile-div figure,
#member-profile-div footer,
#member-profile-div header,
#member-profile-div hgroup,
#member-profile-div menu,
#member-profile-div nav,
#member-profile-div section {
  display: block;
}
#member-profile-div ol,
#member-profile-div ul {
  list-style: none;
}
#member-profile-div input,
#member-profile-div textarea {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}
#member-profile-div blockquote,
#member-profile-div q {
  quotes: none;
}
#member-profile-div blockquote:before,
#member-profile-div blockquote:after,
#member-profile-div q:before,
#member-profile-div q:after {
  content: '';
  content: none;
}
#member-profile-div strong {
  font-weight: bold;
}
#member-profile-div table {
  border-collapse: collapse;
  border-spacing: 0;
}
#member-profile-div img {
  border: 0;
  max-width: 100%;
}
#member-profile-div #topbar {
  background: #4f4a41;
  padding: 10px 0 10px 0;
  text-align: center;
  height: 36px;
  overflow: hidden;
  -webkit-transition: height 0.5s linear;
  -moz-transition: height 0.5s linear;
  transition: height 0.5s linear;
}
#member-profile-div #topbar a {
  color: #fff;
  font-size: 1.3em;
  line-height: 1.25em;
  text-decoration: none;
  opacity: 0.5;
  font-weight: bold;
}
#member-profile-div #topbar a:hover {
  opacity: 1;
}
#member-profile-div h1 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 2.5em;
  line-height: 1.5em;
  letter-spacing: -0.05em;
  margin-bottom: 20px;
  padding: .1em 0;
  color: #444;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
}
#member-profile-div h1:before,
#member-profile-div h1:after {
  content: "";
  position: relative;
  display: inline-block;
  width: 50%;
  height: 1px;
  vertical-align: middle;
  background: #f0f0f0;
}
#member-profile-div h1:before {
  left: -0.5em;
  margin: 0 0 0 -50%;
}
#member-profile-div h1:after {
  left: .5em;
  margin: 0 -50% 0 0;
}
#member-profile-div h1 > span {
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
}
#member-profile-div h2 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 2.1em;
  line-height: 1.4em;
  letter-spacing: normal;
  margin-bottom: 20px;
  padding: .1em 0;
  color: #444;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
}
#member-profile-div h2.project-name {
  text-align: left;
  border-bottom: 1px solid #cce6ff;
  border-top: 1px solid #cce6ff;
  margin-bottom: 8px;
}
#member-profile-div p {
  display: block;
  font-size: 1.4em;
  line-height: 1.55em;
  margin-bottom: 22px;
  color: #555;
}
#member-profile-div a {
  color: #339cff;
  text-decoration: none;
}
#member-profile-div a:hover {
  text-decoration: underline;
}
#member-profile-div .center {
  display: block;
  text-align: center;
}
#member-profile-div #w {
  display: block;
  width: 750px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 45px;
}
#member-profile-div #member-profile-content {
  display: block;
  width: 100%;
  background: #fff;
  padding: 20px 20px 10px 20px;
  padding-bottom: 35px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}
#member-profile-div #userphoto {
  display: block;
  float: right;
  margin-left: 10px;
  margin-bottom: 8px;
}
#member-profile-div #userphoto img {
  display: block;
  padding: 2px;
  background: #fff;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}
#member-profile-div #profiletabs {
  display: block;
  margin-bottom: 4px;
  height: 50px;
}
#member-profile-div #profiletabs ul {
  list-style: none;
  display: block;
  width: 70%;
  height: 50px;
}
#member-profile-div #profiletabls ul li {
  float: left;
}
#member-profile-div #profiletabs ul li a {
  display: block;
  float: left;
  padding: 8px 11px;
  font-size: 1.2em;
  font-weight: bold;
  background: #cce6ff;
  color: #000000;
  margin-right: 7px;
  border: 1px solid #fff;
  -webkit-border-radius: 5px;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius: 5px;
  -moz-border-radius-bottomleft: 0;
  border-radius: 5px;
  border-bottom-left-radius: 0;
}
#member-profile-div #profiletabs ul li a:hover {
  text-decoration: none;
  background: #339cff;
}
#member-profile-div #profiletabs ul li a.sel {
  background: #fff;
  border-color: #cce6ff;
}
#member-profile-div .hidden {
  display: none;
}
#member-profile-div .activity {
  border-bottom: 1px solid #d6d1af;
  padding-bottom: 4px;
}
#member-profile-div .setting {
  overflow: hidden;
  display: block;
  font-weight: normal;
  padding: 7px 3px;
  border-top: 1px solid #cce6ff;
  margin-bottom: 5px;
}
#member-profile-div .setting.project-info {
  border-top: none;
}
#member-profile-div .setting span {
  float: left;
  width: 250px;
  font-weight: bold;
}
#member-profile-div .setting span img {
  cursor: pointer;
}
#member-profile-div .member-profile-badge-card {
  margin: 8px;
}
#member-profile-div .member-profile-badge-card .mdl-card__media {
  background-color: transparent;
}
#member-profile-div .member-profile-badge-card h1 {
  font-size: 1.5em;
  margin: auto;
  display: block;
  text-overflow: ellipsis;
}
#member-profile-div .clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#member-profile-div .clearfix {
  display: inline-block;
}
#member-profile-div html[xmlns] .clearfix {
  display: block;
}
#member-profile-div * html .clearfix {
  height: 1%;
}
#project-details-div {
  /** typography **/
  /** page structure **/
  /** profile nav links **/
  /** profile content sections **/
  /** clearfix **/
}
#project-details-div html,
#project-details-div body,
#project-details-div div,
#project-details-div span,
#project-details-div applet,
#project-details-div object,
#project-details-div iframe,
#project-details-div h1,
#project-details-div h2,
#project-details-div h3,
#project-details-div h4,
#project-details-div h5,
#project-details-div h6,
#project-details-div p,
#project-details-div blockquote,
#project-details-div pre,
#project-details-div a,
#project-details-div abbr,
#project-details-div acronym,
#project-details-div address,
#project-details-div big,
#project-details-div cite,
#project-details-div code,
#project-details-div del,
#project-details-div dfn,
#project-details-div em,
#project-details-div img,
#project-details-div ins,
#project-details-div kbd,
#project-details-div q,
#project-details-div s,
#project-details-div samp,
#project-details-div small,
#project-details-div strike,
#project-details-div strong,
#project-details-div sub,
#project-details-div sup,
#project-details-div tt,
#project-details-div var,
#project-details-div b,
#project-details-div u,
#project-details-div i,
#project-details-div center,
#project-details-div dl,
#project-details-div dt,
#project-details-div dd,
#project-details-div ol,
#project-details-div ul,
#project-details-div li,
#project-details-div fieldset,
#project-details-div form,
#project-details-div label,
#project-details-div legend,
#project-details-div table,
#project-details-div caption,
#project-details-div tbody,
#project-details-div tfoot,
#project-details-div thead,
#project-details-div tr,
#project-details-div th,
#project-details-div td,
#project-details-div article,
#project-details-div aside,
#project-details-div canvas,
#project-details-div details,
#project-details-div embed,
#project-details-div figure,
#project-details-div figcaption,
#project-details-div footer,
#project-details-div header,
#project-details-div hgroup,
#project-details-div menu,
#project-details-div nav,
#project-details-div output,
#project-details-div ruby,
#project-details-div section,
#project-details-div summary,
#project-details-div time,
#project-details-div mark,
#project-details-div audio,
#project-details-div video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#project-details-div body {
  background: #f0f0f0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #313131;
  font-size: 62.5%;
  line-height: 1;
}
#project-details-div ::selection {
  background: #a4dcec;
}
#project-details-div ::-moz-selection {
  background: #a4dcec;
}
#project-details-div ::-webkit-selection {
  background: #a4dcec;
}
#project-details-div ::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #ccc;
  font-style: italic;
}
#project-details-div :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #ccc;
  font-style: italic;
}
#project-details-div ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #ccc;
  font-style: italic;
}
#project-details-div :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #ccc !important;
  font-style: italic;
}
#project-details-div br {
  display: block;
  line-height: 2.2em;
}
#project-details-div article,
#project-details-div aside,
#project-details-div details,
#project-details-div figcaption,
#project-details-div figure,
#project-details-div footer,
#project-details-div header,
#project-details-div hgroup,
#project-details-div menu,
#project-details-div nav,
#project-details-div section {
  display: block;
}
#project-details-div ol,
#project-details-div ul {
  list-style: none;
}
#project-details-div input,
#project-details-div textarea {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}
#project-details-div blockquote,
#project-details-div q {
  quotes: none;
}
#project-details-div blockquote:before,
#project-details-div blockquote:after,
#project-details-div q:before,
#project-details-div q:after {
  content: '';
  content: none;
}
#project-details-div strong {
  font-weight: bold;
}
#project-details-div table {
  border-collapse: collapse;
  border-spacing: 0;
}
#project-details-div img {
  border: 0;
  max-width: 100%;
}
#project-details-div #topbar {
  background: #4f4a41;
  padding: 10px 0 10px 0;
  text-align: center;
  height: 36px;
  overflow: hidden;
  -webkit-transition: height 0.5s linear;
  -moz-transition: height 0.5s linear;
  transition: height 0.5s linear;
}
#project-details-div #topbar a {
  color: #fff;
  font-size: 1.3em;
  line-height: 1.25em;
  text-decoration: none;
  opacity: 0.5;
  font-weight: bold;
}
#project-details-div #topbar a:hover {
  opacity: 1;
}
#project-details-div h1 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 2.5em;
  line-height: 1.5em;
  letter-spacing: -0.05em;
  margin-bottom: 20px;
  padding: .1em 0;
  color: #444;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
}
#project-details-div h1:before,
#project-details-div h1:after {
  content: "";
  position: relative;
  display: inline-block;
  width: 50%;
  height: 1px;
  vertical-align: middle;
  background: #f0f0f0;
}
#project-details-div h1:before {
  left: -0.5em;
  margin: 0 0 0 -50%;
}
#project-details-div h1:after {
  left: .5em;
  margin: 0 -50% 0 0;
}
#project-details-div h1 > span {
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
}
#project-details-div h2 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 2.1em;
  line-height: 1.4em;
  letter-spacing: normal;
  margin-bottom: 20px;
  padding: .1em 0;
  color: #444;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
}
#project-details-div h2.team-name {
  text-align: left;
  border-bottom: 1px solid #cce6ff;
  border-top: 1px solid #cce6ff;
  margin-bottom: 8px;
}
#project-details-div p {
  display: block;
  font-size: 1.4em;
  line-height: 1.55em;
  margin-bottom: 22px;
  color: #555;
}
#project-details-div a {
  color: #339cff;
  text-decoration: none;
}
#project-details-div a:hover {
  text-decoration: underline;
}
#project-details-div .center {
  display: block;
  text-align: center;
}
#project-details-div #w {
  display: block;
  width: 750px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 45px;
}
#project-details-div #project-details-content {
  display: block;
  width: 100%;
  background: #fff;
  padding: 20px 20px 10px 20px;
  padding-bottom: 35px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}
#project-details-div #userphoto {
  display: block;
  float: right;
  margin-left: 10px;
  margin-bottom: 8px;
}
#project-details-div #userphoto img {
  display: block;
  padding: 2px;
  background: #fff;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}
#project-details-div #profiletabs {
  display: block;
  margin-bottom: 4px;
  height: 50px;
}
#project-details-div #profiletabs ul {
  list-style: none;
  display: block;
  width: 70%;
  height: 50px;
}
#project-details-div #profiletabls ul li {
  float: left;
}
#project-details-div #profiletabs ul li a {
  display: block;
  float: left;
  padding: 8px 11px;
  font-size: 1.2em;
  font-weight: bold;
  background: #cce6ff;
  color: #000000;
  margin-right: 7px;
  border: 1px solid #fff;
  -webkit-border-radius: 5px;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius: 5px;
  -moz-border-radius-bottomleft: 0;
  border-radius: 5px;
  border-bottom-left-radius: 0;
}
#project-details-div #profiletabs ul li a:hover {
  text-decoration: none;
  background: #339cff;
}
#project-details-div #profiletabs ul li a.sel {
  background: #fff;
  border-color: #cce6ff;
}
#project-details-div .hidden {
  display: none;
}
#project-details-div .activity {
  border-bottom: 1px solid #d6d1af;
  padding-bottom: 4px;
}
#project-details-div .setting {
  overflow: hidden;
  display: block;
  font-weight: normal;
  padding: 7px 3px;
  border-top: 1px solid #cce6ff;
  margin-bottom: 5px;
}
#project-details-div .setting.teammember-info {
  border-top: none;
}
#project-details-div .setting span {
  float: left;
  width: 250px;
  font-weight: bold;
}
#project-details-div .setting span img {
  cursor: pointer;
}
#project-details-div .clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#project-details-div .clearfix {
  display: inline-block;
}
#project-details-div html[xmlns] .clearfix {
  display: block;
}
#project-details-div * html .clearfix {
  height: 1%;
}
.calculator-field {
  background-color: orchid;
  width: 77px;
  height: 77px;
  max-width: 77px;
  max-height: 77px;
}
.calculator-field:hover {
  background-color: transparent;
  cursor: pointer;
}
#today {
  background: purple;
}
#span-spacer {
  height: 130px;
}
#event-profile-wrapper .demo-card-wide.mdl-card {
  width: 100%;
}
#event-profile-wrapper .demo-card-wide > .mdl-card__title {
  color: purple;
  height: 300px;
  background: url('http://placehold.it/350x150') center / cover;
}
#event-profile-wrapper .demo-card-wide > .mdl-card__menu {
  color: mediumpurple;
  width: 50px;
}
#event-edit-form {
  width: 100%;
}
#event-edit-form #event-edit-naziv {
  width: 100%;
}
#event-edit-form #event-edit-add:hover {
  cursor: pointer;
  background: #f3e6ff;
}
#event-edit-form .event-edit-wrapper {
  width: 100%;
}
#event-edit-form #event-edit-ucesnik-wrapper {
  width: 100%;
}
.mdl-button--file input {
  cursor: pointer;
  height: 100%;
  right: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 300px;
  z-index: 4;
}
.mdl-textfield--file .mdl-textfield__input {
  box-sizing: border-box;
  width: calc(68%);
}
.mdl-textfield--file .mdl-button--file {
  right: 0;
}
.mdl-textfield--file .mdl-button {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}
.poll-aktivnoGlasanje-content:hover {
  cursor: pointer;
  border-top: 1px blue;
}
.add-poll-radio-buttons {
  padding-top: 5px;
}
#messenger-message-wrapper {
  width: 100%;
}
#messenger-header {
  position: fixed;
  width: 100%;
  height: 100px;
  margin-top: -100px;
  background: #b366ff;
  z-index: 100;
  color: white;
}
#messenger-header #messenger-message {
  border-color: blueviolet;
}
@media (max-width: 480px) {
  #messenger-header #messenger-message {
    margin-left: -46px;
    width: calc(100% + 46px);
  }
}
@media (max-width: 1023px) {
  #messenger-header #messenger-message {
    margin-left: -46px;
    width: calc(100% + 46px);
  }
}
#messenger-header #messenger-message::-webkit-input-placeholder,
#messenger-header #messenger-message::-moz-placeholder {
  color: white;
}
#messenger-header #messenger-message:hover {
  height: 50px;
  background: #d9b3ff;
}
#messenger-header #messenger-message:focus {
  background: #d9b3ff;
  height: 50px;
}
#messenger-wrapper {
  margin-top: 100px;
}
#messenger-wrapper #messenger-list {
  padding-left: 0px;
  padding-top: .5em;
}
#messenger-wrapper .time-info {
  display: none;
}
#messenger-wrapper .time-info .time-signature {
  color: blueviolet;
}
#messenger-wrapper .time-info .time-signature_mine {
  color: pink;
}
#messenger-wrapper ul.ChatLog {
  list-style: none;
  margin: 0px;
}
#messenger-wrapper .ChatLog {
  max-width: 100%;
  margin: 0 auto;
}
#messenger-wrapper .ChatLog .ChatLog__entry {
  margin: .5em;
}
#messenger-wrapper .ChatLog__entry {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  max-width: 100%;
}
#messenger-wrapper .ChatLog__entry.ChatLog__entry_mine {
  flex-direction: row-reverse;
}
#messenger-wrapper .ChatLog__avatar {
  flex-shrink: 0;
  flex-grow: 0;
  z-index: 1;
  height: 50px;
  width: 50px;
  border-radius: 25px;
}
#messenger-wrapper .ChatLog__entry.ChatLog__entry_mine.ChatLog__avatar {
  display: none;
}
#messenger-wrapper .ChatLog__entry .ChatLog__message {
  position: relative;
  margin: 0 12px;
}
#messenger-wrapper .ChatLog__entry .ChatLog__message::before {
  position: absolute;
  right: auto;
  bottom: .6em;
  left: -12px;
  height: 0;
  content: '';
  border: 6px solid transparent;
  border-right-color: #ddd;
  z-index: 2;
}
#messenger-wrapper .ChatLog__entry.ChatLog__entry_mine .ChatLog__message::before {
  right: -12px;
  bottom: .6em;
  left: auto;
  border: 6px solid transparent;
  border-left-color: #08f;
}
#messenger-wrapper .ChatLog__message {
  background-color: #ddd;
  padding: .5em;
  border-radius: 4px;
  font-weight: lighter;
  max-width: 70%;
}
#messenger-wrapper .ChatLog__entry.ChatLog__entry_mine .ChatLog__message {
  border-top: 1px solid #07f;
  border-bottom: 1px solid #07f;
  background-color: #08f;
  color: #fff;
}
#messenger-wrapper .ChatLog__message .ChatLog__timestamp {
  display: none;
}
#familytree-wrapper .familytree ul {
  padding-top: 20px;
  position: relative;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}
#familytree-wrapper .familytree ul ul:before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  border-left: 1px solid #ccc;
  width: 0;
  height: 20px;
}
#familytree-wrapper .familytree ul li {
  float: left;
  text-align: center;
  list-style-type: none;
  position: relative;
  padding: 20px 5px 0 5px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}
#familytree-wrapper .familytree ul li a {
  border: 1px solid #ccc;
  padding: 5px 10px;
  text-decoration: none;
  color: #666;
  font-family: arial, verdana, tahoma;
  font-size: 11px;
  display: inline-block;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  /*Connector styles on hover*/
}
#familytree-wrapper .familytree ul li a:hover,
#familytree-wrapper .familytree ul li a:hover + ul li a {
  background: #c8e4f8;
  color: #000;
  border: 1px solid #94a0b4;
}
#familytree-wrapper .familytree ul li a:hover + ul li:after,
#familytree-wrapper .familytree ul li a:hover + ul li:before,
#familytree-wrapper .familytree ul li a:hover + ul:before,
#familytree-wrapper .familytree ul li a:hover + ul ul:before {
  border-color: #94a0b4;
}
#familytree-wrapper .familytree ul li:before,
#familytree-wrapper .familytree ul li:after {
  content: '';
  position: absolute;
  top: 0;
  right: 50%;
  border-top: 1px solid #ccc;
  width: 50%;
  height: 20px;
}
#familytree-wrapper .familytree ul li:after {
  right: auto;
  left: 50%;
  border-left: 1px solid #ccc;
}
#familytree-wrapper .familytree ul li:only-child:after,
#familytree-wrapper .familytree ul li:only-child:before {
  display: none;
}
#familytree-wrapper .familytree ul li:only-child {
  padding-top: 0;
}
#familytree-wrapper .familytree ul li:first-child:before,
#familytree-wrapper .familytree ul li:last-child:after {
  border: 0 none;
}
#familytree-wrapper .familytree ul li:last-child:before {
  border-right: 1px solid #ccc;
  border-radius: 0 5px 0 0;
  -webkit-border-radius: 0 5px 0 0;
  -moz-border-radius: 0 5px 0 0;
}
#familytree-wrapper .familytree ul li:first-child:after {
  border-radius: 5px 0 0 0;
  -webkit-border-radius: 5px 0 0 0;
  -moz-border-radius: 5px 0 0 0;
}
#pdf-mp-izvestaj {
  width: 100%;
  height: 100vh;
}
#mp-table-report {
  width: 100%;
}
#mp-table-report th {
  text-decoration: underline double solid black;
}
#add-report-panel-list-item {
  width: 100%;
}
#add-padavan-panel-list-item {
  width: 100%;
}
#mp-report-opis-wrapper {
  width: 100%;
}
.mp-exapnd {
  width: 100%;
}
.frator-kompanije-list {
  list-style: none;
}
#frator-komentari-wrapper {
  margin-top: 0px;
}
#frator-komentari-wrapper #komentar-list {
  width: 350px !important;
}
#frator-komentari-wrapper .time-info {
  display: none;
}
#frator-komentari-wrapper ul.ChatLog {
  list-style: none;
}
#frator-komentari-wrapper .ChatLog {
  max-width: 100%;
  margin: 0 auto;
}
#frator-komentari-wrapper .ChatLog .ChatLog__entry {
  margin: .5em;
}
#frator-komentari-wrapper .ChatLog__entry {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  max-width: 100%;
}
#frator-komentari-wrapper .ChatLog__entry.ChatLog__entry_mine {
  flex-direction: row-reverse;
}
#frator-komentari-wrapper .ChatLog__avatar {
  flex-shrink: 0;
  flex-grow: 0;
  z-index: 1;
  height: 50px;
  width: 50px;
  border-radius: 5px;
}
#frator-komentari-wrapper .ChatLog__entry.ChatLog__entry_mine.ChatLog__avatar {
  display: none;
}
#frator-komentari-wrapper .ChatLog__entry .ChatLog__message {
  position: relative;
  margin: 0 12px;
}
#frator-komentari-wrapper .ChatLog__entry .ChatLog__message::before {
  position: absolute;
  right: auto;
  bottom: .6em;
  left: -12px;
  height: 0;
  content: '';
  border: 6px solid transparent;
  border-right-color: #ddd;
  z-index: 2;
}
#frator-komentari-wrapper .ChatLog__entry.ChatLog__entry_mine .ChatLog__message::before {
  right: -12px;
  bottom: .6em;
  left: auto;
  border: 6px solid transparent;
  border-left-color: #08f;
}
#frator-komentari-wrapper .ChatLog__message {
  background-color: #ddd;
  padding: .5em;
  border-radius: 4px;
  font-weight: lighter;
  max-width: 70%;
}
#frator-komentari-wrapper .ChatLog__entry.ChatLog__entry_mine .ChatLog__message {
  border-top: 1px solid #07f;
  border-bottom: 1px solid #07f;
  background-color: #08f;
  color: #fff;
}
#frator-komentari-wrapper .ChatLog__message .ChatLog__timestamp {
  display: none;
}
#kontakt-kompanija li {
  margin-left: 10%;
}
.badge-img-wrapper {
  background-color: transparent;
}
.badge-remove-sign {
  cursor: pointer;
}
.badge-remove-sign:hover {
  color: red;
}
h1 {
  text-align: center;
  font-family: "Trebuchet MS", Tahoma, Arial, sans-serif;
  color: #333;
  text-shadow: 0 1px 0 #fff;
  margin: 50px 0;
}
#wrapper {
  width: 100px;
  margin: 0 auto;
  background: #fff;
  padding: 20px;
  border: 10px solid #aaa;
  border-radius: 15px;
  background-clip: padding-box;
  text-align: center;
}
.button {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  padding: 5px 10px;
  border: 1px solid #aaa;
  background-color: #eee;
  background-image: linear-gradient(top, #ffffff, #f0f0f0);
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  color: #666;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  cursor: pointer;
  transition: all 0.2s ease-out;
}
.button:hover {
  border-color: #999;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}
.button:active {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 200ms;
  visibility: hidden;
  opacity: 0;
}
.overlay.light {
  background: rgba(255, 255, 255, 0.5);
}
.overlay .cancel {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: default;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
.popup {
  margin: 75px auto;
  padding: 20px;
  background: #fff;
  border: 1px solid #666;
  width: 300px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  position: relative;
}
.light .popup {
  border-color: #aaa;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
}
.popup h2 {
  margin-top: 0;
  color: #666;
  font-family: "Trebuchet MS", Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 20px;
  right: 20px;
  opacity: 0.8;
  transition: all 200ms;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #666;
}
.popup .close:hover {
  opacity: 1;
}
.popup .content {
  max-height: 400px;
  overflow: auto;
}
.popup p {
  margin: 0 0 1em;
}
.popup p:last-child {
  margin: 0;
}
.ui-timepicker-wrapper {
  overflow-y: auto;
  height: 150px;
  width: 6.5em;
  background: #fff;
  border: 1px solid #ddd;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  outline: none;
  z-index: 10001;
  margin: 0;
}
.ui-timepicker-wrapper.ui-timepicker-with-duration {
  width: 13em;
}
.ui-timepicker-wrapper.ui-timepicker-with-duration.ui-timepicker-step-30,
.ui-timepicker-wrapper.ui-timepicker-with-duration.ui-timepicker-step-60 {
  width: 11em;
}
.ui-timepicker-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.ui-timepicker-duration {
  margin-left: 5px;
  color: #888;
}
.ui-timepicker-list:hover .ui-timepicker-duration {
  color: #888;
}
.ui-timepicker-list li {
  padding: 3px 0 3px 5px;
  cursor: pointer;
  white-space: nowrap;
  color: #000;
  list-style: none;
  margin: 0;
}
.ui-timepicker-list:hover .ui-timepicker-selected {
  background: #fff;
  color: #000;
}
li.ui-timepicker-selected,
.ui-timepicker-list li:hover,
.ui-timepicker-list .ui-timepicker-selected:hover {
  background: #1980EC;
  color: #fff;
}
li.ui-timepicker-selected .ui-timepicker-duration,
.ui-timepicker-list li:hover .ui-timepicker-duration {
  color: #ccc;
}
.ui-timepicker-list li.ui-timepicker-disabled,
.ui-timepicker-list li.ui-timepicker-disabled:hover,
.ui-timepicker-list li.ui-timepicker-selected.ui-timepicker-disabled {
  color: #888;
  cursor: default;
}
.ui-timepicker-list li.ui-timepicker-disabled:hover,
.ui-timepicker-list li.ui-timepicker-selected.ui-timepicker-disabled {
  background: #f2f2f2;
}
.voters-dialog {
  overflow-y: initial !important;
}
.voters-dialog-list {
  height: 250px;
  overflow-y: auto;
}
.project-list {
  margin-right: 0px;
}
.project-list-avatar {
  width: 100%;
  max-height: 350px;
}
.member-list {
  margin-right: 0px;
}
.member-list-avatar {
  width: 100%;
  max-height: 250px;
}
.member-list-title {
  margin: auto;
}
