.admin-button-color {
  background: #1a53ff;
  cursor: pointer;
}
aside span {
  color: white !important;
}
aside {
  background: #512DA8 !important;
}
aside a {
  color: #D1C4E9 !important;
}
aside a:hover {
  color: white !important;
  background: #D1C4E9 !important;
}
#logout {
  background: #C2185B;
}
#feedback {
  background: #BA68C8;
  cursor: pointer;
}
#welcome-photo {
  height: 250px;
  background: url('http://placehold.it/350x150') center / cover;
}
.demo-card-wide.mdl-card {
  width: 512px;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('http://placehold.it/200x150') center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}
.mdl-grid {
  margin-left: 0;
}
@media (min-width: 1025px) {
  .mdl-grid {
    margin-right: 239px;
  }
}
.mdl-grid .mdl-card__media {
  margin: 0;
}
.mdl-grid .mdl-card__media > img {
  max-width: 100%;
  min-width: 100%;
}
.mdl-grid .mdl-card__actions {
  display: flex;
  box-sizing: border-box;
  align-items: center;
}
.mdl-grid .mdl-card__actions > .mdl-button--icon {
  margin-right: 3px;
  margin-left: 3px;
}
/*Ubaceno za avatar-loader gif style*/
.loader {
  height: 32px;
  background-repeat: no-repeat;
  background-position: inherit;
}
#member-year {
  width: 200px !important;
}
.div-expand {
  width: 100%;
}
.li-shrink {
  margin: 0;
  padding: 0;
}
.calculator-field {
  background-color: orchid;
  width: 77px;
  height: 77px;
  max-width: 77px;
  max-height: 77px;
}
.calculator-field:hover {
  background-color: transparent;
  cursor: pointer;
}
#today {
  background: purple;
}
#span-spacer {
  height: 130px;
}
#event-profile-wrapper .demo-card-wide.mdl-card {
  width: 100%;
}
#event-profile-wrapper .demo-card-wide > .mdl-card__title {
  color: purple;
  height: 300px;
  background: url('http://placehold.it/350x150') center / cover;
}
#event-profile-wrapper .demo-card-wide > .mdl-card__menu {
  color: mediumpurple;
  width: 50px;
}
#event-edit-form {
  width: 100%;
}
#event-edit-form #event-edit-naziv {
  width: 100%;
}
#event-edit-form #event-edit-add:hover {
  cursor: pointer;
  background: #f3e6ff;
}
#event-edit-form .event-edit-wrapper {
  width: 100%;
}
#event-edit-form #event-edit-ucesnik-wrapper {
  width: 100%;
}
.mdl-button--file input {
  cursor: pointer;
  height: 100%;
  right: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 300px;
  z-index: 4;
}
.mdl-textfield--file .mdl-textfield__input {
  box-sizing: border-box;
  width: calc(68%);
}
.mdl-textfield--file .mdl-button--file {
  right: 0;
}
.mdl-textfield--file .mdl-button {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}
.poll-aktivnoGlasanje-content:hover {
  cursor: pointer;
  border-top: 1px blue;
}
#messenger-message-wrapper {
  width: 100%;
}
#messenger-header {
  position: fixed;
  width: 100%;
  height: 100px;
  margin-top: -100px;
  background: #b366ff;
  z-index: 100;
  color: white;
}
#messenger-header #messenger-message {
  border-color: blueviolet;
}
@media (max-width: 480px) {
  #messenger-header #messenger-message {
    margin-left: -46px;
    width: calc(100% + 46px);
  }
}
@media (max-width: 1023px) {
  #messenger-header #messenger-message {
    margin-left: -46px;
    width: calc(100% + 46px);
  }
}
#messenger-header #messenger-message::-webkit-input-placeholder,
#messenger-header #messenger-message::-moz-placeholder {
  color: white;
}
#messenger-header #messenger-message:hover {
  height: 50px;
  background: #d9b3ff;
}
#messenger-header #messenger-message:focus {
  background: #d9b3ff;
  height: 50px;
}
#messenger-wrapper {
  margin-top: 100px;
}
#messenger-wrapper .time-info {
  display: none;
}
#messenger-wrapper .time-info .time-signature {
  color: wheat;
}
#messenger-wrapper ul.ChatLog {
  list-style: none;
}
#messenger-wrapper .ChatLog {
  max-width: 100%;
  margin: 0 auto;
}
#messenger-wrapper .ChatLog .ChatLog__entry {
  margin: .5em;
}
#messenger-wrapper .ChatLog__entry {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  max-width: 100%;
}
#messenger-wrapper .ChatLog__entry.ChatLog__entry_mine {
  flex-direction: row-reverse;
}
#messenger-wrapper .ChatLog__avatar {
  flex-shrink: 0;
  flex-grow: 0;
  z-index: 1;
  height: 50px;
  width: 50px;
  border-radius: 25px;
}
#messenger-wrapper .ChatLog__entry.ChatLog__entry_mine.ChatLog__avatar {
  display: none;
}
#messenger-wrapper .ChatLog__entry .ChatLog__message {
  position: relative;
  margin: 0 12px;
}
#messenger-wrapper .ChatLog__entry .ChatLog__message::before {
  position: absolute;
  right: auto;
  bottom: .6em;
  left: -12px;
  height: 0;
  content: '';
  border: 6px solid transparent;
  border-right-color: #ddd;
  z-index: 2;
}
#messenger-wrapper .ChatLog__entry.ChatLog__entry_mine .ChatLog__message::before {
  right: -12px;
  bottom: .6em;
  left: auto;
  border: 6px solid transparent;
  border-left-color: #08f;
}
#messenger-wrapper .ChatLog__message {
  background-color: #ddd;
  padding: .5em;
  border-radius: 4px;
  font-weight: lighter;
  max-width: 70%;
}
#messenger-wrapper .ChatLog__entry.ChatLog__entry_mine .ChatLog__message {
  border-top: 1px solid #07f;
  border-bottom: 1px solid #07f;
  background-color: #08f;
  color: #fff;
}
#messenger-wrapper .ChatLog__message .ChatLog__timestamp {
  display: none;
}
#familytree-wrapper .familytree ul {
  padding-top: 20px;
  position: relative;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}
#familytree-wrapper .familytree ul ul:before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  border-left: 1px solid #ccc;
  width: 0;
  height: 20px;
}
#familytree-wrapper .familytree ul li {
  float: left;
  text-align: center;
  list-style-type: none;
  position: relative;
  padding: 20px 5px 0 5px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}
#familytree-wrapper .familytree ul li a {
  border: 1px solid #ccc;
  padding: 5px 10px;
  text-decoration: none;
  color: #666;
  font-family: arial, verdana, tahoma;
  font-size: 11px;
  display: inline-block;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  /*Connector styles on hover*/
}
#familytree-wrapper .familytree ul li a:hover,
#familytree-wrapper .familytree ul li a:hover + ul li a {
  background: #c8e4f8;
  color: #000;
  border: 1px solid #94a0b4;
}
#familytree-wrapper .familytree ul li a:hover + ul li:after,
#familytree-wrapper .familytree ul li a:hover + ul li:before,
#familytree-wrapper .familytree ul li a:hover + ul:before,
#familytree-wrapper .familytree ul li a:hover + ul ul:before {
  border-color: #94a0b4;
}
#familytree-wrapper .familytree ul li:before,
#familytree-wrapper .familytree ul li:after {
  content: '';
  position: absolute;
  top: 0;
  right: 50%;
  border-top: 1px solid #ccc;
  width: 50%;
  height: 20px;
}
#familytree-wrapper .familytree ul li:after {
  right: auto;
  left: 50%;
  border-left: 1px solid #ccc;
}
#familytree-wrapper .familytree ul li:only-child:after,
#familytree-wrapper .familytree ul li:only-child:before {
  display: none;
}
#familytree-wrapper .familytree ul li:only-child {
  padding-top: 0;
}
#familytree-wrapper .familytree ul li:first-child:before,
#familytree-wrapper .familytree ul li:last-child:after {
  border: 0 none;
}
#familytree-wrapper .familytree ul li:last-child:before {
  border-right: 1px solid #ccc;
  border-radius: 0 5px 0 0;
  -webkit-border-radius: 0 5px 0 0;
  -moz-border-radius: 0 5px 0 0;
}
#familytree-wrapper .familytree ul li:first-child:after {
  border-radius: 5px 0 0 0;
  -webkit-border-radius: 5px 0 0 0;
  -moz-border-radius: 5px 0 0 0;
}
#pdf-mp-izvestaj {
  width: 100%;
  height: 100vh;
}
#mp-table-report {
  width: 100%;
}
#mp-table-report th {
  text-decoration: underline double solid black;
}
#add-report-panel-list-item {
  width: 100%;
}
#add-padavan-panel-list-item {
  width: 100%;
}
#mp-report-opis-wrapper {
  width: 100%;
}
.mp-exapnd {
  width: 100%;
}
.frator-kompanije-list {
  list-style: none;
}
#frator-komentari-wrapper {
  margin-top: 0px;
}
#frator-komentari-wrapper #komentar-list {
  width: 350px !important;
}
#frator-komentari-wrapper .time-info {
  display: none;
}
#frator-komentari-wrapper ul.ChatLog {
  list-style: none;
}
#frator-komentari-wrapper .ChatLog {
  max-width: 100%;
  margin: 0 auto;
}
#frator-komentari-wrapper .ChatLog .ChatLog__entry {
  margin: .5em;
}
#frator-komentari-wrapper .ChatLog__entry {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  max-width: 100%;
}
#frator-komentari-wrapper .ChatLog__entry.ChatLog__entry_mine {
  flex-direction: row-reverse;
}
#frator-komentari-wrapper .ChatLog__avatar {
  flex-shrink: 0;
  flex-grow: 0;
  z-index: 1;
  height: 50px;
  width: 50px;
  border-radius: 5px;
}
#frator-komentari-wrapper .ChatLog__entry.ChatLog__entry_mine.ChatLog__avatar {
  display: none;
}
#frator-komentari-wrapper .ChatLog__entry .ChatLog__message {
  position: relative;
  margin: 0 12px;
}
#frator-komentari-wrapper .ChatLog__entry .ChatLog__message::before {
  position: absolute;
  right: auto;
  bottom: .6em;
  left: -12px;
  height: 0;
  content: '';
  border: 6px solid transparent;
  border-right-color: #ddd;
  z-index: 2;
}
#frator-komentari-wrapper .ChatLog__entry.ChatLog__entry_mine .ChatLog__message::before {
  right: -12px;
  bottom: .6em;
  left: auto;
  border: 6px solid transparent;
  border-left-color: #08f;
}
#frator-komentari-wrapper .ChatLog__message {
  background-color: #ddd;
  padding: .5em;
  border-radius: 4px;
  font-weight: lighter;
  max-width: 70%;
}
#frator-komentari-wrapper .ChatLog__entry.ChatLog__entry_mine .ChatLog__message {
  border-top: 1px solid #07f;
  border-bottom: 1px solid #07f;
  background-color: #08f;
  color: #fff;
}
#frator-komentari-wrapper .ChatLog__message .ChatLog__timestamp {
  display: none;
}
.badge-img-wrapper {
  background-color: transparent;
}
.badge-remove-sign {
  cursor: pointer;
}
.badge-remove-sign:hover {
  color: red;
}
h1 {
  text-align: center;
  font-family: "Trebuchet MS", Tahoma, Arial, sans-serif;
  color: #333;
  text-shadow: 0 1px 0 #fff;
  margin: 50px 0;
}
#wrapper {
  width: 100px;
  margin: 0 auto;
  background: #fff;
  padding: 20px;
  border: 10px solid #aaa;
  border-radius: 15px;
  background-clip: padding-box;
  text-align: center;
}
.button {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  padding: 5px 10px;
  border: 1px solid #aaa;
  background-color: #eee;
  background-image: linear-gradient(top, #ffffff, #f0f0f0);
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  color: #666;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  cursor: pointer;
  transition: all 0.2s ease-out;
}
.button:hover {
  border-color: #999;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}
.button:active {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 200ms;
  visibility: hidden;
  opacity: 0;
}
.overlay.light {
  background: rgba(255, 255, 255, 0.5);
}
.overlay .cancel {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: default;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
.popup {
  margin: 75px auto;
  padding: 20px;
  background: #fff;
  border: 1px solid #666;
  width: 300px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  position: relative;
}
.light .popup {
  border-color: #aaa;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
}
.popup h2 {
  margin-top: 0;
  color: #666;
  font-family: "Trebuchet MS", Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 20px;
  right: 20px;
  opacity: 0.8;
  transition: all 200ms;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #666;
}
.popup .close:hover {
  opacity: 1;
}
.popup .content {
  max-height: 400px;
  overflow: auto;
}
.popup p {
  margin: 0 0 1em;
}
.popup p:last-child {
  margin: 0;
}
